ENV=development
APP_HOST=
APP_PASSWORD=
SUPABASE_URL=
SUPABASE_PUBLIC_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_STORAGE_BUCKET=documents
REDIS_URL=redis://redis:6379/0
INVOICE_WORKERS=5
ERP_BASE_URL=http://erp:8009
ERP_USERNAME=
ERP_PASSWORD=
OPENROUTER_API_KEY=
TYPESAFE_API_KEY=
